/* css styles */
.thumbnail {
    display:inline-block;
    vertical-align:top;
  }

.compress {
    padding: 0;
    padding-left: 10px;
    display:inline-block;
    width: 80%;
  }

.fit-to-column img {
    max-width: 700px;
    height: auto;
    }